<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 비디오 스트리밍</title>
    <link rel="stylesheet" href="css/index.css"> <!-- CSS 경로 -->
</head>
<body>
    <nav>
        <button id="navigateButton">기록된 영상 가기</button>
    </nav>
    <table class="video-table">
        <tr>
            <td>1번 카메라</td>
            <td>2번 카메라</td>
        </tr>
        <tr>
            <td><iframe class="video-frame" src="video_stream_1_url"></iframe></td>
            <td><iframe class="video-frame" src="video_stream_2_url"></iframe></td>
        </tr>
        <tr>
            <td>3번 카메라</td>
            <td>4번 카메라</td>
        </tr>
        <tr>
            <td><iframe class="video-frame" src="video_stream_3_url"></iframe></td>
            <td><iframe class="video-frame" src="video_stream_4_url"></iframe></td>
        </tr>
    </table>
    <script src="js/index.js"></script> <!-- JS 경로 -->
</body>

</html>
